@charset "UTF-8";

/* universal style:
*{
	background-color: #ff99ff;
}
*/

h1{
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 24px;
	color: #b3b3ff;
	background-color: #f2f2f2;
	/* 24.12.21: ja dodao */
	text-align: center;
	border: thick solid #b3b3ff;
	padding: 5px;
	margin: 15px;	
}

.kontakt {
	font-weight: bold;
	font-style: italic;
	font-family: Times New Roman;
	font-size: 14px;
	color: #e68a00;
	/* 24.12.21: ja dodao */
	background-color: #bdfbf8;
	padding: 5px;
}

#lokacija {
	font-style: italic;
	font-family: Times New Roman;
	font-size: 14px;
	color: #e68a00;
}

.email {
	font-style: normal;
	color: red;
}